
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<title>Gestion biblioteque</title>
		<!-- Font Awesome -->
		<link
		rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"/>
		<!-- Google Fonts Roboto -->
		<link
		rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"/>
		<!-- MDB -->
		<link
		rel="stylesheet" href="login/css/mdb.min.css"/>
		<!-- Custom styles -->
		<link rel="stylesheet" href="login/css/style.css"/>
	</head>
	<body>
		<!--Main Navigation-->
		<header>
			<style>
				#intro {
					background-image: url('https://cdn.pixabay.com/photo/2013/07/12/15/20/literature-149713_960_720.png');
					height: 100vh;
				}

				/* Height for devices larger than 576px */
				@media(min-width: 992px) {
					#intro {
						margin-top: 5px;
					}
				}

				.navbar .nav-link {
					color: #fff !important;
				}
			</style>


			<!-- Background image -->
			<div id="intro" class="bg-image shadow-2-strong">
				<div class="mask d-flex align-items-center h-200" style="background-color: rgba(0, 0, 0, 0.8);">
					<div class="container  card">

						<div class="row justify-content-center">

							<div class="card text-left">

								<div class="card-body">
									<h1 class="card-title">réinitialisez votre mot de passe
									</h1>
									{% for flash_error in app.flashes('reset_password_error') %}
										<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
									{% endfor %}


									{{ form_start(requestForm) }}
									{{ form_row(requestForm.email) }}
									<div>
										<small>Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
										</small>
									</div>

									 <button class="btn btn-primary">Envoyer e-mail de réinitialisation </button>
									{{ form_end(requestForm) }}
								</div>
								<div class="  text-end mb-2  ">
									<div class="btn">
										<a href="{{ path('app_login') }}">se connecter</a>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- Background image -->
		</header>
		<!--Main Navigation-->


		<!-- MDB -->
		<script type="text/javascript" src="login/js/mdb.min.js"></script>
		<!-- Custom scripts -->
		<script type="text/javascript" src="login/js/script.js"></script>


	</body>
</html>
